*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

html {
    margin: 0; padding: 0;
}

#email::-webkit-input-placeholder {
    /*color: white;*/
   color: #f6f8fa;
    /*opacity: 0.7 !important;*/
}

#emailSecond::-webkit-input-placeholder {
    /*color: white;*/
    color: #f6f8fa;
    /*opacity: 0.7 !important;*/
}

#valid{
    position: absolute;
    margin-top: 50px;
    margin-left: 20px;
    color: white;
}

#validSecond{
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    color: white;
}

#backgroundContainer
{
    height: 100%;
    width: 100%;
    position: fixed;
    /*left: -50%;*/
    background-image: url("/newImg/backgoungOfFirstSlide.jpg");
    /*position:  absolute;*/
    background-size: cover;
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-position: top;
}

#first {
    margin: 0;
    margin-top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    min-height: 100%;
}

#second{
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    min-height: 50%;
    top: 100%;
    background-color: white;
}

#third{
    height: 100%;
    width: 100%;
    min-height: 100%;
    background-image: url("/img/site2.png");
    background-size: cover;
}

#fourth{
    height: 100%;
    width: 100%;
    position: absolute;
    min-height: 100%;
    top: 300%;
    background-size: cover;
    background-image: url("/img/backgroud.jpg");
    background-repeat: no-repeat;
}

#second img{
    /*opacity: 0.34;*/
}

#second #secondLeftBlock{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -520px;
}

#second #secondRightBlock{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: 80px;
}

#second h1{
    margin-top: 40px;
    margin-left: 50%;
    color: #66d6cf;
}

#second h2{
    margin-bottom: 30px;
    margin-left: 50%;
    color: #66d6cf;
}

#second p {
    width: 400px;
    margin-left: 50%;
    margin-bottom: 30px;
    color: #878787;
    font-size: 15pt;
}

#emailContainer {
    display: inline-block;
    padding-top: 0px;
    padding-left: 9px;
    width:  335px;
    height: 43px;
    position: relative;
}
#emailDiv {
    background-image: url("/newImg/staticTextBoxBackground.png");
    background-size:335px 43px;
    padding-top: 10px;
    padding-left: 9px;
    display: inline-block;
    background-repeat: no-repeat;
    width:  335px;
    height: 43px;
    position: absolute;
}

#emailDivSecond{
    background-image: url("/img/inputRoundedBackground.png");
    padding-top: 10px;
    padding-left: 9px;
    display: inline-block;
    background-repeat: no-repeat;
    width:  335px;
    height: 43px;
    position: absolute;
}

#email {
    background-color: transparent;
    color: white;
    font-size: 15pt;
    border: none;
    width: 320px;
    height: 25px;
}

#email:focus{
    outline: 0;
    color: #2f9cc2;
}

#email:focus::-webkit-input-placeholder {
    color: #2f9cc2;
}

#emailSecond {
    background-color: transparent;
    color: white;
    font-size: 15pt;
    border: none;
    width: 320px;
    height: 25px;
}

#emailSecond:focus{
    outline: 0;
}

#formContainer{
    left: 50%;
    top: 100%;
    position: absolute;
    width: 500px;
    height: 80px;
    margin-left: -250px;
    margin-top: -250px;
}

#secondFormContainer{
    left: 50%;
    top: 70%;
    position: absolute;
    width: 500px;
    height: 80px;
    margin-left: -250px;
    margin-top: -40px;
}

#submitButton{
    outline: 0;
    color: #55b9dc;
    /*color:    #5dc6a5;*/
    font-size: 11pt;
    background-image: url("/newImg/staticButtonBackground.png");
    width: 135px;
    height: 43px;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 350px;
}
#submitButton:hover
{
    outline: 0;
    color: #f6f8fa;
    background-image: url("/newImg/hoverButtonBackground.png");
}
#submitButton:active
{
    outline: 0;
    color: #f6f8fa;
    background-image: url("/newImg/pressedButtonBackground.png");
}

#submitButtonSecond{
    outline: 0;
    color: #5dc6a5;
    font-size: 11pt;
    background-image: url("/img/roundedButton.png");
    width: 135px;
    height: 43px;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 350px;
}
#submitButtonSecond:hover
{
    outline: 0;
    color: white;
    background-image: url("/img/submitButtonHover.png");
}
#submitButtonSecond:active
{
    outline: 0;
    color: white;
    background-image: url("/img/submitButtonIsPressed.png");
}

#subscribeDiv{
    left: 50%;
    top: 30%;
    position: absolute;
    width: 500px;
    margin-left: -250px;
}

#socialButtonsFirst{
    margin-top: 50px;
    position: absolute;
    top:70%;
    left:50%;
    width: 170px;
    margin-top: 100px;
    margin-left: -100px;
}

#socialButtonsSecond{
    margin-top: 50px;
    position: absolute;
    top:100%;
    left:50%;
    width: 170px;
    margin-left: -100px;
}



.labyrinth {
    background-image: url('/img/labyrinth.png');
    height: 266px;
    width: 268px;
    padding: 0;
}

#machinesDecideLabel{
    font-family: langdon;
    color: white;
    font-size: 40pt;
    left: 50%;
    position: absolute;
    top: 30px;
    margin-left: -320px;
}

#returnPowerLabel{
    font-family: langdon;
    color: white;
    font-size: 40pt;
    left: 50%;
    position: absolute;
    top: 100%;
    margin-top: -100px;
    margin-left: -300px;
}

#ratinatorLabel{
    color: white;
    font-size: 46pt;
    left: 50%;
    position: absolute;
    top: 230px;
    margin-left: -250px;
}

#newMachineDicedeLabel{
    color: white;
    font-size: 12pt;
    left: 50%;
    position: absolute;
    top: 320px;
    margin-left: -200px;
}

@font-face {
    font-family: 'langdon';
    src: url('/langdon.otf');
}

#likeButtonsContainer{
    position: absolute;
    left: 100%;
    margin-left: -85px;
    top:100%;
    margin-top: -60px;
}

#likeButtonsContainer img{
    position: absolute;
    opacity: 0.7;
}

#likeButtonsContainer img:hover {
    opacity: 1;
}

#dislikeButton{
    margin-left: 34px;
    margin-top: 8px;
}

#buttonsDescriptionContainer{
    position: absolute;
    left: 100%;
    margin-left: -370px;
    top: 100%;
    margin-top: -150px;

}
