* {margin: 0; padding: 0;}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

html {
    margin: 0; padding: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
    opacity: 0.7 !important;
}

#valid{
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    color: white;
}

#backgroundContainer
{
    height: 100%;
    width: 100%;
position: fixed;
    /*left: -50%;*/

    background-image: url("/img/backgroud.jpg");
    /*position:  absolute;*/
    background-size: cover;
    background-repeat: no-repeat;
    /*background-size: 100%;*/

    background-position: top;
}

#first {
    margin: 0;
    margin-top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    min-height: 100%;
}

#second{
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    min-height: 50%;
    top: 100%;
    background-color: white;
}

#third{
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 200%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #509f91;
}

#fourth{
    height: 100%;
    width: 100%;
    position: absolute;
    min-height: 100%;
    top: 300%;
    background-size: cover;
    background-image: url("/img/backgroud.jpg");
    background-repeat: no-repeat;
}

#second img{
    opacity: 0.34;
}

#second #secondLeftBlock{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -520px;
}

#second #secondRightBlock{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: 80px;
}

#second h1{
    margin-top: 40px;
    margin-left: 50%;
    color: #66d6cf;
}

#second h2{
    margin-bottom: 30px;
    margin-left: 50%;
    color: #66d6cf;
}

#second p {
    width: 200px;
    margin-left: 50%;
    margin-bottom: 30px;
    color: #878787;
}

#emailDiv{
    background-image: url("/img/inputRoundedBackground.png");
    padding-top: 10px;
    padding-left: 9px;
    display: inline-block;
    background-repeat: no-repeat;
    width:  335px;
    height: 43px;
    position: absolute;
}

#email{
    background-color: transparent;
    color: white;
    font-size: 15pt;
    border: none;
    width: 320px;
    height: 25px;
}

#email:focus{
    outline: 0;
}

#formContainer{
    left: 50%;
    top: 50%;
    position: absolute;
    width: 500px;
    height: 80px;
    margin-left: -250px;
    margin-top: -40px;
}

#submitButton{
    color: #5dc6a5;
    font-size: 11pt;
    background-image: url("/img/roundedButton.png");
    width: 135px;
    height: 43px;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 350px;
}
#lapTopContainer{
    left: 50%;
    top: 10%;
    position: absolute;
    margin-left: -394px;
}

#textStyle{
    color: white;
    font-size: 20px;
    margin-top: 15px;

}
#textHeaderStyle{
    font-size: 22pt;
    color: white;
}

#howItWorksContainer {
    left: 50%;
    margin-left: -290px;
    margin-top: 510px;
    width: 560px;
    height: 100px;
    position: absolute;

}

